body{
    margin: auto;
    background: #101010;

}

@keyframes shake {
    0%, 100% {translate:0;}
    25% {translate:8px 0;}
    75% {translate:-8px 0;}
}

input {
    width:300px;
    height:40px;
    padding:0 16px;
    background: transparent;
    border-radius: 4px;
    border:1px solid #fe4567;
    color: #f9f9f9;
    animation: shake 0.14s 3;
}
input:valid{
    border-color:#45feaf;
    animation: none;

}