div{
    background-color: white;
    width: 40px;
    height:40px;
    border-radius: 4px;
    margin: 8px;
}
.section{
    margin-top: 200px;
   
    
}
body{
    background-color: #687857;
}
section{
    display: flex;
    margin-left: 200px;
}

div:nth-child(4){
    background-color: aqua;

}