.App {
  text-align: center;
  background-color: #1f232a;
  min-height: 100vh;
}

.Notifybuttton{
  background-color: #4061a5;
  width: 150px;
  height:40px;
  border-radius: 5px;
  border-style: none;
  margin-top: 200px;
  cursor: pointer;
  color:azure;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}
.Notifybuttton:hover{
background-color: #0c50d6;
border-width: 2px;
font-weight: bold;
}

.toast{
  background-color: aliceblue;
}
